/**
*
* General
*
**/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/**
*
* List
*
**/

.keyspot-list {
  height: calc(100vh - 5.8em);
  max-width: 300px;
  overflow-y: scroll;
  padding-left: 0.5em;
}

.ui.list:first-child {
  margin-top: 0.4em;
}

/**
*
* Navbar
*
**/

#navbar {
  margin-bottom: 0;
}

.ui.floated.header {
    margin-bottom: 0;
}
